@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,200&display=swap');

.main-header{
    background-image:url(Images/Header\ Background.jpg);
    background-size: cover;
    background-color:black;
    height: 5cm;
}
*{
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    min-height: 100%;
}
.main-nav {
    text-align: center;
}
.main-nav li{
    display: inline;
    text-align: center;
}
.main-nav a{
    color: white;
    padding: 5bpx;
    margin: 10px;
    background-color:black;

}
.main-nav a:hover{
    background-color: green;
    color: black;
}
.main-header h1{
    color:black;
    text-align:center;
    margin: 50px;
    font-style:italic;
    font-size:50px;
}
.container{
    max-width: 900px;
    margin: 0, auto;
    padding: 0,0;
    font-family: 'Source Serif Pro', serif;
}
.bandimage{
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}
.main-footer{
    text-align: center;
    background-color: black;
    width: 100%;
    bottom: 0;
    background-size:cover;
    height: 100%;

}
.main-footer h2{
    color: white;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    display: inline;
    
}
@font-face{
    font-family: 'Source Serif Pro', serif;
    src:url(Fonts/Booter\ -\ Zero\ Zero.woff)format("woff"),
    url(Fonts/Booter\ -\ Zero\ Zero.woff2)format("woff2");
    
}
.shop-item{
    margin: 20px;
}
.shopitem-title{
    width: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    
}
.shopitem-detail{
    text-align: center;
    display: flex;
    padding: 5px;
}
.shopitem-button{
    background-color:black;
    border:none;
    border-radius: 3cm;
    font-weight: bold;
    color: white;
}

.shopitem-button:hover{
    background-color:black;
}

.cart-row{
    display: flex;
}
.cart-items{
    width:40%;
}
.cart-total{
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;

}
.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5cm;
    padding-bottom: 10px;
    margin-top: 10px;
    
}

.cart-price{
    width: 30%;
    color: bisque;
}
.cart-item{
    width: 30%;
    color: burlywood;
}
.cart-quantity{
    width: 40%;
    color:black;
}
.cart-total-price{
    color:blue;
    font-size: 1.1cm;
}
.cart-quantity-input{
    height: 20px;
}




    


    